## 1. Importing Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings


import sklearn
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.metrics.pairwise import rbf_kernel
from sklearn.base import BaseEstimator, TransformerMixin

from sklearn.preprocessing import (
    OneHotEncoder,
    OrdinalEncoder,
    MinMaxScaler,
    StandardScaler,
    PowerTransformer,
    FunctionTransformer
)

from feature_engine.datetime import DatetimeFeatures
from feature_engine.outliers import Winsorizer
from feature_engine.encoding import (
    MeanEncoder,
    RareLabelEncoder,
    CountFrequencyEncoder
)

## 2. Display Settings

In [3]:
pd.set_option("display.max_columns",None)

In [4]:
sklearn.set_config(transform_output="pandas")

In [5]:
warnings.filterwarnings("ignore")

## 3. Read the Data

In [6]:
PATH = "../data/train.csv"

train = pd.read_csv(PATH)
train

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-03-21,Banglore,New Delhi,08:55:00,19:10:00,615,1.0,In-flight meal not included,7832
1,Jet Airways,2019-03-27,Delhi,Cochin,17:30:00,04:25:00,655,1.0,In-flight meal not included,6540
2,Goair,2019-03-09,Banglore,New Delhi,11:40:00,14:35:00,175,0.0,No Info,7305
3,Air India,2019-06-12,Kolkata,Banglore,09:25:00,18:30:00,545,1.0,No Info,8366
4,Jet Airways,2019-03-12,Banglore,New Delhi,22:55:00,07:40:00,525,1.0,In-flight meal not included,11087
...,...,...,...,...,...,...,...,...,...,...
6690,Jet Airways,2019-03-21,Delhi,Cochin,10:45:00,18:50:00,1925,2.0,No Info,11093
6691,Air India,2019-05-01,Kolkata,Banglore,09:25:00,18:30:00,545,1.0,No Info,8891
6692,Jet Airways,2019-06-01,Delhi,Cochin,14:00:00,19:00:00,300,1.0,In-flight meal not included,10262
6693,Air Asia,2019-06-24,Delhi,Cochin,07:55:00,13:25:00,330,1.0,No Info,6152
6694,Air India,2019-03-01,Banglore,New Delhi,11:50:00,08:55:00,1265,1.0,1 Long layover,14594

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6695 entries, 0 to 6694
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          6695 non-null   object
 1   date_of_journey  6695 non-null   object
 2   source           6695 non-null   object
 3   destination      6695 non-null   object
 4   dep_time         6695 non-null   object
 5   arrival_time     6695 non-null   object
 6   duration         6695 non-null   int64
 7   total_stops      6694 non-null   float64
 8   additional_info  6695 non-null   object
 9   price            6695 non-null   int64
dtypes: float64(1), int64(2), object(7)
memory usage: 523.2+ KB

In [8]:
train.dtypes

airline             object
date_of_journey     object
source              object
destination         object
dep_time            object
arrival_time        object
duration             int64
total_stops        float64
additional_info     object
price                int64
dtype: object

In [9]:
X_train = train.drop(columns="price")
y_train = train['price']

## 4.Transformation Operations

### 4.1 airline

In [56]:
X_train.airline.value_counts()

airline
Jet Airways          2391
Indigo               1296
Air India            1076
Multiple Carriers     736
Spicejet              537
Vistara               322
Air Asia              211
Goair                 125
Trujet                  1
Name: count, dtype: int64

In [162]:
air_transformer = Pipeline(steps=[
    ("imputer",SimpleImputer(strategy="most_frequent")),
    ("groupes",RareLabelEncoder(tol=0.1,replace_with="other",n_categories=2)),
    ("encoder",OneHotEncoder(sparse_output=False,handle_unknown="ignore"))
])
air_transformer.fit_transform(X_train.loc[:, ["airline"]])

,airline_Air India,airline_Indigo,airline_Jet Airways,airline_Multiple Carriers,airline_other
0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...
6690,0.0,0.0,1.0,0.0,0.0
6691,1.0,0.0,0.0,0.0,0.0
6692,0.0,0.0,1.0,0.0,0.0
6693,0.0,0.0,0.0,0.0,1.0
6694,1.0,0.0,0.0,0.0,0.0

### 4.2 date_of_journey

In [163]:
X_train.date_of_journey

0       2019-03-21
1       2019-03-27
2       2019-03-09
3       2019-06-12
4       2019-03-12
           ...
6690    2019-03-21
6691    2019-05-01
6692    2019-06-01
6693    2019-06-24
6694    2019-03-01
Name: date_of_journey, Length: 6695, dtype: object

In [164]:
features_to_extract = ["month","week","day_of_week","day_of_year"]

doj_transformer = Pipeline(steps=[
    ("dt",DatetimeFeatures(features_to_extract=features_to_extract,yearfirst=True)),
    ("scaler",MinMaxScaler())
])

doj_transformer.fit_transform(X_train.loc[:,["date_of_journey"]])

,date_of_journey_month,date_of_journey_week,date_of_journey_day_of_week,date_of_journey_day_of_year
0,0.000000,0.176471,0.500000,0.169492
1,0.000000,0.235294,0.333333,0.220339
2,0.000000,0.058824,0.833333,0.067797
3,1.000000,0.882353,0.333333,0.872881
4,0.000000,0.117647,0.166667,0.093220
...,...,...,...,...
6690,0.000000,0.176471,0.500000,0.169492
6691,0.666667,0.529412,0.333333,0.516949
6692,1.000000,0.764706,0.833333,0.779661
6693,1.000000,1.000000,0.000000,0.974576
6694,0.000000,0.000000,0.666667,0.000000

### 4.3 source & destination

In [165]:
X_train.source

0       Banglore
1          Delhi
2       Banglore
3        Kolkata
4       Banglore
          ...
6690       Delhi
6691     Kolkata
6692       Delhi
6693       Delhi
6694    Banglore
Name: source, Length: 6695, dtype: object

In [166]:
X_train.destination

0       New Delhi
1          Cochin
2       New Delhi
3        Banglore
4       New Delhi
          ...
6690       Cochin
6691     Banglore
6692       Cochin
6693       Cochin
6694    New Delhi
Name: destination, Length: 6695, dtype: object

In [167]:
location_subset = X_train.loc[:,["source","destination"]]
location_subset

        source destination
0     Banglore   New Delhi
1        Delhi      Cochin
2     Banglore   New Delhi
3      Kolkata    Banglore
4     Banglore   New Delhi
...        ...         ...
6690     Delhi      Cochin
6691   Kolkata    Banglore
6692     Delhi      Cochin
6693     Delhi      Cochin
6694  Banglore   New Delhi

[6695 rows x 2 columns]

In [168]:
print(location_subset["source"].value_counts())
location_subset["destination"].value_counts()

source
Delhi       2730
Kolkata     1842
Banglore    1435
Mumbai       448
Chennai      240
Name: count, dtype: int64

destination
Cochin       2730
Banglore     1842
Delhi         836
New Delhi     599
Hyderabad     448
Kolkata       240
Name: count, dtype: int64

In [169]:
location_pipe1 = Pipeline(steps=[
    ("groups",RareLabelEncoder(tol=0.1,replace_with="other",n_categories=2)),
    ("encoder",MeanEncoder()),
    ("scaler",PowerTransformer())
])

location_pipe1.fit_transform(location_subset,y_train)

        source  destination
0    -0.857930    -0.736484
1     1.065418     1.061694
2    -0.857930    -0.736484
3    -0.203928    -0.224351
4    -0.857930    -0.736484
...        ...          ...
6690  1.065418     1.061694
6691 -0.203928    -0.224351
6692  1.065418     1.061694
6693  1.065418     1.061694
6694 -0.857930    -0.736484

[6695 rows x 2 columns]

In [170]:
np.union1d(
    X_train.source.unique(),
    X_train.destination.unique()
)

array(['Banglore', 'Chennai', 'Cochin', 'Delhi', 'Hyderabad', 'Kolkata',
       'Mumbai', 'New Delhi'], dtype=object)

In [171]:
def is_north(X):
    columns = X.columns.to_list()
    north_cities = ["Delhi","Kolkata","Mumbai","New Delhi"]
    
    return(
        X
        .assign(**{
            f"{col}_is_north":X.loc[:,col].isin(north_cities).astype(int)
            for col in columns
        })
        .drop(columns=columns)
    )
FunctionTransformer(func=is_north).fit_transform(location_subset)

      source_is_north  destination_is_north
0                   0                     1
1                   1                     0
2                   0                     1
3                   1                     0
4                   0                     1
...               ...                   ...
6690                1                     0
6691                1                     0
6692                1                     0
6693                1                     0
6694                0                     1

[6695 rows x 2 columns]

In [172]:
location_transformer = FeatureUnion(transformer_list=[
    ("pipe1",location_pipe1),
    ("pipe2",FunctionTransformer(func=is_north))
])
location_transformer.fit_transform(location_subset,y_train)

        source  destination  source_is_north  destination_is_north
0    -0.857930    -0.736484                0                     1
1     1.065418     1.061694                1                     0
2    -0.857930    -0.736484                0                     1
3    -0.203928    -0.224351                1                     0
4    -0.857930    -0.736484                0                     1
...        ...          ...              ...                   ...
6690  1.065418     1.061694                1                     0
6691 -0.203928    -0.224351                1                     0
6692  1.065418     1.061694                1                     0
6693  1.065418     1.061694                1                     0
6694 -0.857930    -0.736484                0                     1

[6695 rows x 4 columns]

### 4.4 dep_time & arrival_time

In [173]:
X_train.dep_time

0       08:55:00
1       17:30:00
2       11:40:00
3       09:25:00
4       22:55:00
          ...
6690    10:45:00
6691    09:25:00
6692    14:00:00
6693    07:55:00
6694    11:50:00
Name: dep_time, Length: 6695, dtype: object

In [174]:
X_train.arrival_time

0       19:10:00
1       04:25:00
2       14:35:00
3       18:30:00
4       07:40:00
          ...
6690    18:50:00
6691    18:30:00
6692    19:00:00
6693    13:25:00
6694    08:55:00
Name: arrival_time, Length: 6695, dtype: object

In [175]:
time_subset = X_train.loc[:,["dep_time","arrival_time"]]
time_subset

      dep_time arrival_time
0     08:55:00     19:10:00
1     17:30:00     04:25:00
2     11:40:00     14:35:00
3     09:25:00     18:30:00
4     22:55:00     07:40:00
...        ...          ...
6690  10:45:00     18:50:00
6691  09:25:00     18:30:00
6692  14:00:00     19:00:00
6693  07:55:00     13:25:00
6694  11:50:00     08:55:00

[6695 rows x 2 columns]

In [176]:
time_pipe1 = Pipeline(steps=[
    ("dt",DatetimeFeatures(features_to_extract=["hour","minute"])),
    ("scaler",MinMaxScaler())
])
time_pipe1.fit_transform(time_subset)

      dep_time_hour  dep_time_minute  arrival_time_hour  arrival_time_minute
0          0.347826         1.000000           0.826087             0.181818
1          0.739130         0.545455           0.173913             0.454545
2          0.478261         0.727273           0.608696             0.636364
3          0.391304         0.454545           0.782609             0.545455
4          0.956522         1.000000           0.304348             0.727273
...             ...              ...                ...                  ...
6690       0.434783         0.818182           0.782609             0.909091
6691       0.391304         0.454545           0.782609             0.545455
6692       0.608696         0.000000           0.826087             0.000000
6693       0.304348         1.000000           0.565217             0.454545
6694       0.478261         0.909091           0.347826             1.000000

[6695 rows x 4 columns]

In [177]:
def part_of_day(X,morning=4, noon=12, evening=16, night=20):
    columns = X.columns.to_list()
    X_temp = X.assign(**{
        col:pd.to_datetime(X.loc[:,col]).dt.hour
        for col in columns
    })
    return (
        X_temp
        .assign(**{
            f"{col}_part_of_day":np.select(
                [X_temp.loc[:,col].between(morning,noon,inclusive="left"),
                 X_temp.loc[:,col].between(noon,evening,inclusive="left"),
                 X_temp.loc[:,col].between(evening,night,inclusive="left")],
                ["morning","afternoon","evening"],
                default="night"
            )
            for col in columns
        })
        .drop(columns=columns)
    )
FunctionTransformer(func=part_of_day).fit_transform(time_subset)

     dep_time_part_of_day arrival_time_part_of_day
0                 morning                  evening
1                 evening                  morning
2                 morning                afternoon
3                 morning                  evening
4                   night                  morning
...                   ...                      ...
6690              morning                  evening
6691              morning                  evening
6692            afternoon                  evening
6693              morning                afternoon
6694              morning                  morning

[6695 rows x 2 columns]

In [178]:
time_pipe2 = Pipeline(steps=[
    ("part_of_day",FunctionTransformer(func=part_of_day)),
    ("encoder",CountFrequencyEncoder()),
    ("scaler",MinMaxScaler())
])

time_pipe2.fit_transform(time_subset)

      dep_time_part_of_day  arrival_time_part_of_day
0                 1.000000                  0.667335
1                 0.202685                  0.952906
2                 1.000000                  0.000000
3                 1.000000                  0.667335
4                 0.174101                  0.952906
...                    ...                       ...
6690              1.000000                  0.667335
6691              1.000000                  0.667335
6692              0.000000                  0.667335
6693              1.000000                  0.000000
6694              1.000000                  0.952906

[6695 rows x 2 columns]

In [179]:
time_transformer = FeatureUnion(transformer_list=[
    ("pipe1",time_pipe1),
    ("pipe2",time_pipe2)
])
time_transformer.fit_transform(time_subset)

,dep_time_hour,dep_time_minute,arrival_time_hour,arrival_time_minute,dep_time_part_of_day,arrival_time_part_of_day
0,0.347826,1.000000,0.826087,0.181818,1.000000,0.667335
1,0.739130,0.545455,0.173913,0.454545,0.202685,0.952906
2,0.478261,0.727273,0.608696,0.636364,1.000000,0.000000
3,0.391304,0.454545,0.782609,0.545455,1.000000,0.667335
4,0.956522,1.000000,0.304348,0.727273,0.174101,0.952906
...,...,...,...,...,...,...
6690,0.434783,0.818182,0.782609,0.909091,1.000000,0.667335
6691,0.391304,0.454545,0.782609,0.545455,1.000000,0.667335
6692,0.608696,0.000000,0.826087,0.000000,0.000000,0.667335
6693,0.304348,1.000000,0.565217,0.454545,1.000000,0.000000
6694,0.478261,0.909091,0.347826,1.000000,1.000000,0.952906

### 4.5 duration

In [180]:
X_train.duration

0        615
1        655
2        175
3        545
4        525
        ...
6690    1925
6691     545
6692     300
6693     330
6694    1265
Name: duration, Length: 6695, dtype: int64

In [181]:
(
    X_train
    .duration
    .quantile([0.25,0.5,0.75])
    .values
    .reshape(-1,1)
)

array([[170. ],
       [510. ],
       [922.5]])

In [182]:
class RBFPercentileSimilarity(BaseEstimator,TransformerMixin):
    def __init__(self,variables=None, percentiles=[0.25,0.5,0.75], gamma=0.1):
        self.variables = variables
        self.percentiles = percentiles
        self.gamma = gamma
    
    def fit(self,X,y=None):
        if not self.variables:
            self.variables = X.select_dtypes(include="number").columns.to_list()
        
        self.reference_values_ = {
            col: ( 
                X
                .loc[:,col]
                .quantile(self.percentiles)
                .values
                .reshape(-1,1)
            )
            for col in self.variables
        }
        return self
    
    def transform(self,X):
        objects = []
        for col in self.variables:
            columns = [f"{col}_rbg_{int(percentile*100)}" for percentile in self.percentiles]
            obj = pd.DataFrame(
                data = rbf_kernel(X.loc[:,[col]],Y=self.reference_values_[col],gamma=self.gamma),
                columns = columns
            )
            objects.append(obj)
        return pd.concat(objects,axis=1)

In [183]:
RBFPercentileSimilarity().fit_transform(X_train.loc[:,["duration"]])

      duration_rbg_25  duration_rbg_50  duration_rbg_75
0            0.000000     0.000000e+00              0.0
1            0.000000     0.000000e+00              0.0
2            0.082085     0.000000e+00              0.0
3            0.000000     6.293989e-54              0.0
4            0.000000     1.691898e-10              0.0
...               ...              ...              ...
6690         0.000000     0.000000e+00              0.0
6691         0.000000     6.293989e-54              0.0
6692         0.000000     0.000000e+00              0.0
6693         0.000000     0.000000e+00              0.0
6694         0.000000     0.000000e+00              0.0

[6695 rows x 3 columns]

In [184]:
def duration_category(X, short=180, medium=400):
    return (
        X
        .assign(duration_cat = np.select([X.duration.lt(short),
                                         X.duration.between(short, medium, inclusive="left")],
                                         ["short","medium"],
                                         default="long"))
        .drop(columns="duration")
    )
duration_category(X_train.loc[:,["duration"]])

     duration_cat
0            long
1            long
2           short
3            long
4            long
...           ...
6690         long
6691         long
6692       medium
6693       medium
6694         long

[6695 rows x 1 columns]

In [185]:
duration_pipe1 = Pipeline(steps=[
    ("rbf",RBFPercentileSimilarity()),
    ("scaler",PowerTransformer())
])

duration_pipe2 = Pipeline(steps=[
    ("category",FunctionTransformer(func=duration_category)),
    ("encoder",OrdinalEncoder(categories=[["short","medium","long"]]))
])

duration_union = FeatureUnion(transformer_list=[
    ("pipe1",duration_pipe1),
    ("pipe2",duration_pipe2),
    ("pipe3",StandardScaler())
])

duration_transformer = Pipeline(steps=[
    ("outliers",Winsorizer(capping_method="iqr",fold=1.5)),
    ("imputer",SimpleImputer(strategy="median")),
    ("union",duration_union)
])

duration_transformer.fit_transform(X_train.loc[:,["duration"]])

,duration_rbg_25,duration_rbg_50,duration_rbg_75,duration_cat,duration
0,-0.364262,-0.107976,-0.107799,2.0,-0.033916
1,-0.364262,-0.107976,-0.107799,2.0,0.046422
2,2.373008,-0.107976,-0.107799,0.0,-0.917631
3,-0.364262,-0.107976,-0.107799,2.0,-0.174507
4,-0.364262,-0.107975,-0.107799,2.0,-0.214676
...,...,...,...,...,...
6690,-0.364262,-0.107976,-0.107799,2.0,2.597145
6691,-0.364262,-0.107976,-0.107799,2.0,-0.174507
6692,-0.364262,-0.107976,-0.107799,1.0,-0.666576
6693,-0.364262,-0.107976,-0.107799,1.0,-0.606322
6694,-0.364262,-0.107976,-0.107799,2.0,1.271572

### 4.6 total_stops

In [186]:
X_train.total_stops

0       1.0
1       1.0
2       0.0
3       1.0
4       1.0
       ...
6690    2.0
6691    1.0
6692    1.0
6693    1.0
6694    1.0
Name: total_stops, Length: 6695, dtype: float64

In [187]:
def is_direct(X):
    return X.assign(is_direct_flight=X.total_stops.eq(0).astype(int))

FunctionTransformer(func=is_direct)

FunctionTransformer(func=<function is_direct at 0x000002A0EB3DD4E0>)

In [188]:
total_stops_transformer = Pipeline(steps=[
    ("imputer",SimpleImputer(strategy="most_frequent")),
    ("",FunctionTransformer(func=is_direct))
])
total_stops_transformer.fit_transform(X_train.loc[:,["total_stops"]])

      total_stops  is_direct_flight
0             1.0                 0
1             1.0                 0
2             0.0                 1
3             1.0                 0
4             1.0                 0
...           ...               ...
6690          2.0                 0
6691          1.0                 0
6692          1.0                 0
6693          1.0                 0
6694          1.0                 0

[6695 rows x 2 columns]

### 4.7 additional_info

In [189]:
X_train.additional_info

0       In-flight meal not included
1       In-flight meal not included
2                           No Info
3                           No Info
4       In-flight meal not included
                   ...
6690                        No Info
6691                        No Info
6692    In-flight meal not included
6693                        No Info
6694                 1 Long layover
Name: additional_info, Length: 6695, dtype: object

In [190]:
info_pipe1 = Pipeline(steps=[
    ("groups",RareLabelEncoder(tol=0.1,replace_with="Other",n_categories=2)),
    ("encoder",OneHotEncoder(handle_unknown="ignore",sparse_output=False))
])
info_pipe1.fit_transform(X_train.loc[:,["additional_info"]])

,additional_info_In-flight meal not included,additional_info_No Info,additional_info_Other
0,1.0,0.0,0.0
1,1.0,0.0,0.0
2,0.0,1.0,0.0
3,0.0,1.0,0.0
4,1.0,0.0,0.0
...,...,...,...
6690,0.0,1.0,0.0
6691,0.0,1.0,0.0
6692,1.0,0.0,0.0
6693,0.0,1.0,0.0
6694,0.0,0.0,1.0

In [191]:
def have_info(X):
    return X.assign(additional_info=X.additional_info.ne("No Info").astype(int))

In [192]:
info_union = FeatureUnion(transformer_list=[
    ("pipe1", info_pipe1),
    ("pipe2", FunctionTransformer(func=have_info))
])

In [193]:
info_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="constant", fill_value="unknown")),
    ("union", info_union)
])

info_transformer.fit_transform(X_train.loc[:, ["additional_info"]])

,additional_info_In-flight meal not included,additional_info_No Info,additional_info_Other,additional_info
0,1.0,0.0,0.0,1
1,1.0,0.0,0.0,1
2,0.0,1.0,0.0,0
3,0.0,1.0,0.0,0
4,1.0,0.0,0.0,1
...,...,...,...,...
6690,0.0,1.0,0.0,0
6691,0.0,1.0,0.0,0
6692,1.0,0.0,0.0,1
6693,0.0,1.0,0.0,0
6694,0.0,0.0,1.0,1

In [194]:
column_transformer = ColumnTransformer(transformers=[
    ("airline",air_transformer,['airline']),
    ("doj",doj_transformer,["date_of_journey"]),
    ("location",location_transformer,["source","destination"]),
    ("time",time_transformer,["dep_time","arrival_time"]),
    ("duration",duration_transformer,["duration"]),
    ("stops",total_stops_transformer,["total_stops"]),
    ("info",info_transformer,["additional_info"])
],remainder="passthrough")

In [195]:
train_preprocessed = column_transformer.fit_transform(X_train,y_train)
train_preprocessed

,airline__airline_Air India,airline__airline_Indigo,airline__airline_Jet Airways,airline__airline_Multiple Carriers,airline__airline_other,doj__date_of_journey_month,doj__date_of_journey_week,doj__date_of_journey_day_of_week,doj__date_of_journey_day_of_year,location__source,location__destination,location__source_is_north,location__destination_is_north,time__dep_time_hour,time__dep_time_minute,time__arrival_time_hour,time__arrival_time_minute,time__dep_time_part_of_day,time__arrival_time_part_of_day,duration__duration_rbg_25,duration__duration_rbg_50,duration__duration_rbg_75,duration__duration_cat,duration__duration,stops__total_stops,stops__is_direct_flight,info__additional_info_In-flight meal not included,info__additional_info_No Info,info__additional_info_Other,info__additional_info
0,0.0,0.0,1.0,0.0,0.0,0.000000,0.176471,0.500000,0.169492,-0.857930,-0.736484,0,1,0.347826,1.000000,0.826087,0.181818,1.000000,0.667335,-0.364262,-0.107976,-0.107799,2.0,-0.033916,1.0,0,1.0,0.0,0.0,1
1,0.0,0.0,1.0,0.0,0.0,0.000000,0.235294,0.333333,0.220339,1.065418,1.061694,1,0,0.739130,0.545455,0.173913,0.454545,0.202685,0.952906,-0.364262,-0.107976,-0.107799,2.0,0.046422,1.0,0,1.0,0.0,0.0,1
2,0.0,0.0,0.0,0.0,1.0,0.000000,0.058824,0.833333,0.067797,-0.857930,-0.736484,0,1,0.478261,0.727273,0.608696,0.636364,1.000000,0.000000,2.373008,-0.107976,-0.107799,0.0,-0.917631,0.0,1,0.0,1.0,0.0,0
3,1.0,0.0,0.0,0.0,0.0,1.000000,0.882353,0.333333,0.872881,-0.203928,-0.224351,1,0,0.391304,0.454545,0.782609,0.545455,1.000000,0.667335,-0.364262,-0.107976,-0.107799,2.0,-0.174507,1.0,0,0.0,1.0,0.0,0
4,0.0,0.0,1.0,0.0,0.0,0.000000,0.117647,0.166667,0.093220,-0.857930,-0.736484,0,1,0.956522,1.000000,0.304348,0.727273,0.174101,0.952906,-0.364262,-0.107975,-0.107799,2.0,-0.214676,1.0,0,1.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6690,0.0,0.0,1.0,0.0,0.0,0.000000,0.176471,0.500000,0.169492,1.065418,1.061694,1,0,0.434783,0.818182,0.782609,0.909091,1.000000,0.667335,-0.364262,-0.107976,-0.107799,2.0,2.597145,2.0,0,0.0,1.0,0.0,0
6691,1.0,0.0,0.0,0.0,0.0,0.666667,0.529412,0.333333,0.516949,-0.203928,-0.224351,1,0,0.391304,0.454545,0.782609,0.545455,1.000000,0.667335,-0.364262,-0.107976,-0.107799,2.0,-0.174507,1.0,0,0.0,1.0,0.0,0
6692,0.0,0.0,1.0,0.0,0.0,1.000000,0.764706,0.833333,0.779661,1.065418,1.061694,1,0,0.608696,0.000000,0.826087,0.000000,0.000000,0.667335,-0.364262,-0.107976,-0.107799,1.0,-0.666576,1.0,0,1.0,0.0,0.0,1
6693,0.0,0.0,0.0,0.0,1.0,1.000000,1.000000,0.000000,0.974576,1.065418,1.061694,1,0,0.304348,1.000000,0.565217,0.454545,1.000000,0.000000,-0.364262,-0.107976,-0.107799,1.0,-0.606322,1.0,0,0.0,1.0,0.0,0
6694,1.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.666667,0.000000,-0.857930,-0.736484,0,1,0.478261,0.909091,0.347826,1.000000,1.000000,0.952906,-0.364262,-0.107976,-0.107799,2.0,1.271572,1.0,0,0.0,0.0,1.0,1

In [202]:
final_preprocessed_df = pd.concat([train_preprocessed,y_train],axis=1)

In [203]:
final_preprocessed_df

,airline__airline_Air India,airline__airline_Indigo,airline__airline_Jet Airways,airline__airline_Multiple Carriers,airline__airline_other,doj__date_of_journey_month,doj__date_of_journey_week,doj__date_of_journey_day_of_week,doj__date_of_journey_day_of_year,location__source,location__destination,location__source_is_north,location__destination_is_north,time__dep_time_hour,time__dep_time_minute,time__arrival_time_hour,time__arrival_time_minute,time__dep_time_part_of_day,time__arrival_time_part_of_day,duration__duration_rbg_25,duration__duration_rbg_50,duration__duration_rbg_75,duration__duration_cat,duration__duration,stops__total_stops,stops__is_direct_flight,info__additional_info_In-flight meal not included,info__additional_info_No Info,info__additional_info_Other,info__additional_info,price
0,0.0,0.0,1.0,0.0,0.0,0.000000,0.176471,0.500000,0.169492,-0.857930,-0.736484,0,1,0.347826,1.000000,0.826087,0.181818,1.000000,0.667335,-0.364262,-0.107976,-0.107799,2.0,-0.033916,1.0,0,1.0,0.0,0.0,1,7832
1,0.0,0.0,1.0,0.0,0.0,0.000000,0.235294,0.333333,0.220339,1.065418,1.061694,1,0,0.739130,0.545455,0.173913,0.454545,0.202685,0.952906,-0.364262,-0.107976,-0.107799,2.0,0.046422,1.0,0,1.0,0.0,0.0,1,6540
2,0.0,0.0,0.0,0.0,1.0,0.000000,0.058824,0.833333,0.067797,-0.857930,-0.736484,0,1,0.478261,0.727273,0.608696,0.636364,1.000000,0.000000,2.373008,-0.107976,-0.107799,0.0,-0.917631,0.0,1,0.0,1.0,0.0,0,7305
3,1.0,0.0,0.0,0.0,0.0,1.000000,0.882353,0.333333,0.872881,-0.203928,-0.224351,1,0,0.391304,0.454545,0.782609,0.545455,1.000000,0.667335,-0.364262,-0.107976,-0.107799,2.0,-0.174507,1.0,0,0.0,1.0,0.0,0,8366
4,0.0,0.0,1.0,0.0,0.0,0.000000,0.117647,0.166667,0.093220,-0.857930,-0.736484,0,1,0.956522,1.000000,0.304348,0.727273,0.174101,0.952906,-0.364262,-0.107975,-0.107799,2.0,-0.214676,1.0,0,1.0,0.0,0.0,1,11087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6690,0.0,0.0,1.0,0.0,0.0,0.000000,0.176471,0.500000,0.169492,1.065418,1.061694,1,0,0.434783,0.818182,0.782609,0.909091,1.000000,0.667335,-0.364262,-0.107976,-0.107799,2.0,2.597145,2.0,0,0.0,1.0,0.0,0,11093
6691,1.0,0.0,0.0,0.0,0.0,0.666667,0.529412,0.333333,0.516949,-0.203928,-0.224351,1,0,0.391304,0.454545,0.782609,0.545455,1.000000,0.667335,-0.364262,-0.107976,-0.107799,2.0,-0.174507,1.0,0,0.0,1.0,0.0,0,8891
6692,0.0,0.0,1.0,0.0,0.0,1.000000,0.764706,0.833333,0.779661,1.065418,1.061694,1,0,0.608696,0.000000,0.826087,0.000000,0.000000,0.667335,-0.364262,-0.107976,-0.107799,1.0,-0.666576,1.0,0,1.0,0.0,0.0,1,10262
6693,0.0,0.0,0.0,0.0,1.0,1.000000,1.000000,0.000000,0.974576,1.065418,1.061694,1,0,0.304348,1.000000,0.565217,0.454545,1.000000,0.000000,-0.364262,-0.107976,-0.107799,1.0,-0.606322,1.0,0,0.0,1.0,0.0,0,6152
6694,1.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.666667,0.000000,-0.857930,-0.736484,0,1,0.478261,0.909091,0.347826,1.000000,1.000000,0.952906,-0.364262,-0.107976,-0.107799,2.0,1.271572,1.0,0,0.0,0.0,1.0,1,14594

In [204]:
final_preprocessed_df.to_csv("../data/train_preprocessed_data.csv",index=False)